@use '@/styles/abstracts/variables.module' as *;

.wrapper {
  width: 100%;
  height: 100%;

  img {
    height: auto;
  }
  p {
    display: none;
  }

  &.adversary img {
    transform: rotate(180deg);
  }

  &.isOwned:hover {
    img {
      display: none;
    }
    p {
      display: block;
    }
  }
}
