.wrapper {
  min-height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 30px);
  }
}
